name: Test Helm charts

on:
  workflow_call:
    inputs:
      CT_CONF_PATH:
        description: Path to the chart-testing configuration file
        required: true
        type: string

permissions:
  contents: read

jobs:
  test-charts:
    name: Lint charts
    runs-on: ubuntu-latest
    steps:
    - name: Checks-out repository
      uses: actions/checkout@v5

    - name: Set up Helm
      uses: azure/setup-helm@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
        check-latest: true

    - name: Set up chart-testing
      uses: helm/chart-testing-action@v2

    - name: Create kind cluster
      uses: helm/kind-action@v1

    - name: Run chart-testing (install)
      run: |
        ct install \
          --config ${{ inputs.CT_CONF_PATH }} \
          --target-branch ${{ github.head_ref || github.event.repository.default_branch }}
